$font-stack: 'Roboto', sans-serif;
$bg-color: #000000;
$text-color: #fff;
$footer-color: #c5c5c5;
html {
  font-family: $font-stack;
  text-align: center;
}

body {
  margin: 0;
}

header {
  background-color: $bg-color;
  height: 50px;
  padding: 20px;
  color: $text-color;
  h1 {
  font-size: 35px;
  line-height: 0.25px;
    @media only screen and (max-width: 800px){
          margin-top: 25px;
    }

    @media only screen and (max-width: 415px){
          font-size: 20px;
    }
  }
}

.img {
  margin: auto;
  width: 50%;

  @media only screen and (max-width: 800px){
      width: 100%;
  }
}

footer {
  background-color: $footer-color;
  position: relative;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: $bg-color;
  padding-top: 25px;
}

#donate {
  padding: 15px;
  color: $text-color;
  text-decoration: none;
}

button {
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
  margin-top: 10px;

  @media only screen and (max-width: 800px){
    margin-top: 20px;
  }
}

small {
  a {
  color: $bg-color;
  }
}

.social-icon {
  width: 30px;
  margin-right: 20px;
  float: left;

  &:hover,
  &:focus{
    opacity: 0.6;
    transition: ease 0.2s;

    @at-root .scrolltop {
      &:hover,
      &:focus {
        opacity: 0.6;
        transition: ease 0.2s;
      }
    }
  }

  &-div {
  width: 100%;
  padding-left: 20px;
  }
}

#doc {
  @media only screen and (max-width: 415px){
      padding: 0 5px 0 5px;
  }
}
